<!DOCTYPE html>
<html>
   <style>
      h1 {text-align: center;}
      a {text-align: center;}
      div {text-align: center;}
      </style>
   <head>
      <title>Dashboard</title>
   </head>
   <body>
      <h1>OfficeS Project</h1>
      {% comment %} {% if user.is_authenticated %} {% endcomment %}
         <p>Welcome, {{ user.username }} !</p>
         <h1 class='users'>List of users</h1>

       
        <table border="1">
                <th>Team</th>
                <th>Name</th>
                <th>ClassCode</th>
        {% for k in users  %}
            <tr>
                <td>{{k.last_name}} {{k.first_name}}</td>
            </tr>
            
            {% endfor %}
        </table>

      
   </body>
</html>