{% extends 'base.html' %}

{% block title %}Dashboard{% endblock  %}

{% block content %}
<h1>Dashboard</h1>
<p>Welcome to Your Dashboard</p>
 
    <div style="display: flex; justify-content: space-between">
        <a style="border: solid; border-radius:5px;border-color:#e2dede; background-color:#e2dede;color:black;margin-bottom: 10px;" href="../../last_calendar/{{ week_dates.0 }}">Last week</a>
    
    
        <a style="border: solid; border-radius:5px;border-color:#e2dede; background-color:#e2dede;color:black;margin-bottom: 10px;" href="../../next_calendar/{{ week_dates.6 }}">Next week</a>
    </div>

 
<table>
    <thead>
      <tr>
           <th>Users</th>
           <th>Monday {{week_dates.0}}</th>
           <th>Tuesday {{week_dates.1}}</th>
           <th>Wednesday {{week_dates.2}}</th>
           <th>Thursday {{week_dates.3}}</th>
           <th>Friday {{week_dates.4}}</th>
           <th>Suturday {{week_dates.5}}</th>
           <th>Sunday {{week_dates.6}}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users  %}
       <tr>
         <td id="users"><a href="{{ offices.get_absolute_url }}">
        </a>
        <a href="../profile/{{ user.id }}">{{ user.first_name }} {{user.last_name}}</a></td>
            {%if user in user_events %}
                {% for key, value in user_events.items %}
                    {%if key == user%}
                        {%for k in value%}
                            {%if k == None%}
                                <td></td>
                            {%elif k == "vacation"%}
                                <td style="background-color: red;" >Vacation</td>
                            {%elif k == "sick_leave"%}
                                <td style="background-color: yellow;" >Sick Leave</td>
                            {%elif k == "vacation + in_review" %}
                            <td style="background-color: grey;" >Planed Vacation</td>
                            {% endif%}
                        {% endfor %}
                    {% endif%}
                {% endfor %}
            {%else%}
                {% for date in week_dates  %}
                    <td></td>
                {% endfor %}
            {% endif%}
      {% endfor %}
    </tbody>
</table>
<div>
    <p>{{ test }}</p>
</div>

{% endblock  %}