{% extends 'base.html' %}

{% block title %}Dashboard{% endblock  %}

{% block content %}
<h1>Dashboard</h1>
<p>Welcome to Your Dashboard</p>
    <div style="display: flex; justify-content: space-around">
        {% if filter_value == None or filter_value == "all" %}
        <a style = "color:black; text-decoration:none;">All</a>
        {% else %}
        <a href="../../all">All</a>
        {% endif %}
        {% if filter_value == 'me' %}
        <a style = "color:black; text-decoration:none;">Me</a>
        {% else %}
        <a href="../../me">Me</a>
        {% endif %}
        {% if filter_value == 'project' %}
        <a style = "color:black; text-decoration:none;">By Project</a>
        {% else %}
        <a href="../../project">By Project</a>
        {% endif %}
        
    </div>
    <div style="display: flex; justify-content: space-between">
        <a style="border: solid; border-radius:5px;border-color:#e2dede; 
        background-color:#e2dede;color:black;
        margin-bottom: 10px; text-decoration:none" href="../../last_calendar/{{ week_dates.0 }}">Last week</a>
    
    
        <a style="border: solid; border-radius:5px;border-color:#e2dede; 
        background-color:#e2dede;color:black;
        margin-bottom: 10px; text-decoration:none" href="../../next_calendar/{{ week_dates.6 }}">Next week</a>
    </div>

 
<table>
    <thead>
      <tr>
           <th style="width: 5%;">Users</th>
           {%if week_dates.0 in holidays_to_display %}
           <th style="background-color: rgba(246, 164, 206, 0.4);">Monday {{week_dates.0}}</th>
           {%else%}
           <th>Monday {{week_dates.0}}</th>
           {% endif%}
           {%if week_dates.1 in holidays_to_display %}
           <th style="background-color: rgba(246, 164, 206, 0.4);">Tuesday {{week_dates.1}}</th>
           {%else%}
           <th>Tuesday {{week_dates.1}}</th>
           {% endif%}
           {%if week_dates.2 in holidays_to_display %}
           <th style="background-color: rgba(246, 164, 206, 0.4);">Wednesday {{week_dates.2}}</th>
           {%else%}
           <th>Wednesday {{week_dates.2}}</th>
           {% endif%}
           {%if week_dates.3 in holidays_to_display %}
           <th style="background-color: rgba(246, 164, 206, 0.4);">Thursday {{week_dates.3}}</th>
           {%else%}
           <th>Thursday {{week_dates.3}}</th>
           {% endif%}
           {%if week_dates.4 in holidays_to_display %}
           <th style="background-color: rgba(246, 164, 206, 0.4);">Friday {{week_dates.4}}</th>
           {%else%}
           <th>Friday {{week_dates.4}}</th>
           {% endif%}
           {%if week_dates.5 in holidays_to_display %}
           <th style="background-color: rgba(246, 164, 206, 0.4);">Suturday {{week_dates.5}}</th>
           {%else%}
           <th>Suturday {{week_dates.5}}</th>
           {% endif%}
           {%if week_dates.6 in holidays_to_display %}
           <th style="background-color: rgba(246, 164, 206, 0.4);">Sunday {{week_dates.6}}</th>
           {%else%}
           <th>Sunday {{week_dates.6}}</th>
           {% endif%}
           
      </tr>
    </thead>
    <tbody>
      {% for user in users  %}
       <tr>
         <td id="users" style="width: 5%;"><a href="{{ offices.get_absolute_url }}">
        </a>
        <a href="../profile/{{ user.id }}">{{ user.first_name }} {{user.last_name}}</a></td>
            {%if user in user_events %}
                {% for key, value in user_events.items %}
                    {%if key == user%}
                        {%for k in value%}
                            {%if k == None%}
                                <td></td>
                            {%elif k == "vacation"%}
                                <td style="background-color: red;" >Vacation</td>
                            {%elif k == "sick_leave"%}
                                <td style="background-color: yellow;" >Sick Leave</td>
                            {%elif k == "vacation + in_review" %}
                                <td style="background-color: grey;" >Planed Vacation</td>
                            {%elif k == "day_of" %}
                                <td style="background-color: rgba(246, 164, 206, 0.4);"></td>
                            {% endif%}
                        {% endfor %}
                    {% endif%}
                {% endfor %}
            {%else%}
                {% for date in week_dates  %}
                    {%if date in holidays_to_display %}
                        <td style="background-color: rgba(246, 164, 206, 0.4);"></td>
                    {%else%}
                        <td></td>
                    {% endif%}
                {% endfor %}
            {% endif%}
      {% endfor %}
    </tbody>
</table>
<div>
    <p>{{ test }}</p>
</div>

{% endblock  %}