{% extends 'base.html' %}

{% block title %}
{% if user %}{{ user.username }}{% else %}Profile{% endif %}
{% endblock  %}
?background=0D8ABC&color=fff
{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>
{% if profile_to_show.photo %}
<img class="rounded-circle" src="{{ profile_to_show.photo }}" style="width: 128px; margin-right: 10px;border-radius:30px;"></img>
{% else %}
<img class="rounded-circle" src="https://eu.ui-avatars.com/api/?size=128&name={{ user.first_name }}+{{ user.last_name }}&background=random&color=fff" style="width: 128px; margin-right: 10px;border-radius:30px;"></img>
{% endif %}
<div class="profile-details">
    <h2>Email: {{ user.email }}</h2>
    {% if profile_to_show %}
    <h4>Position: {{ profile_to_show.position }}</h4>
    <h4>Project: {{ profile_to_show.project_fk.name }}</h4>
    <h4>Date of birth: {{ profile_to_show.date_of_birth }}</h4>
    <h4>Address: {{ profile_to_show.address }}</h4>
    <h4>Phone: {{ profile_to_show.phone }}</h4>
    <h4>Children quantity: {{ profile_to_show.child_quantity }}</h4>
    <h4>Start date: {{ profile_to_show.date_of_start }}</h4>
    {% else %}
    <p>Please ask your HR to fill information about this Person</p>
    {% endif %}
</div>
<span class="Back">
    <a href="../../" name="back" value="None">Back</a>
</span>
{% if request.user.is_superuser %}
    <span class="Edit"><a href="../edit/{{ user.id }}">
       <button>Edit</button></a>
    </span>
{% endif %}
{% endblock %}
