{% extends 'base.html' %}

{% block title %}Projects{% endblock  %}

{% block content %}
<h1>Projects</h1>
<p>Currently we are working on the following projects:</p>
<table>
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Managers</th>
        </tr>
    </thead>
    <tbody> 
        {% for project in projects %}
        <tr>
            
                <td>{{ project.name }}</td>
            
            {% for key, value in managers_by_project.items %}
                    {% if key == project %}
                        <td>{{ value|unordered_list }}</td>
                    {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}