<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>New Vacation request created for {{user_first_name}} {{user_last_name}} and need your review</p>
        
        <p> Event Start date:</p> <p style="font-weight: bold;"> {{event_start_date}}</p>
        <p>Event Start date:</p> <p style="font-weight: bold;"> {{event_end_date}}</p>
        <p> Event Description:</p> <p style="font-weight: bold;"> {{event_description}}</p>
            
        <p>To see current events in app please use the following link:
        
            <a href= "https://{{ review_page_url }}">Review Request in OfficeS</a>
        </p>
    </body>
</html>