{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="header">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">x</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <span class="logo"><a style = "text-decoration:none;" href="{% url 'dashboard' %}">OfficeS</a></span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li>
                <a style = "text-decoration:none;" href="../../profile/{{ request.user.id }}">Profile</a>
            </li>
            <li>
                <a style = "text-decoration:none;" href="{% url 'create_event' %}">Request Time</a>
            </li>
            {% if request.user.is_superuser %}
                <li>
                <a style = "text-decoration:none;" href="{% url 'create_user' %}">Add User</a>
            </li>

            <li>
                <a style = "text-decoration:none;" href="{% url 'create_project' %}">Create Project</a>
            </li> 
            <li>
                <a style = "text-decoration:none;" href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a style = "text-decoration:none;" href="../../events_to_review/"> <i class="fa fa-bell"></i></a>
                </li> 
            {% endif %}
            {% if profile.is_manager == True %}
            <li>
            <a style = "text-decoration:none;" href="../../events_to_review/"> <i class="fa fa-bell"></i></a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }}
            <a style = "text-decoration:none;" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a style = "text-decoration:none;" href="{% url 'login' %}">Log-In</a>
            {% endif %}
        </span>


    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div> 
    
</body>
</html>